* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.section1 {
    display: flex;
    flex-direction: column;
    background-color: #1F2936;
    color: #F9FAF8;
}

.section1-content {
    margin: auto;
}

.header {
    display: flex;
    padding: 8px;
    align-items: center;
}

.logo {
    margin: 0px;
    margin-right: 32em;
    font-size: 24px;
    font-weight: 900;
    margin-right: auto;
}

.menu {
    color: #E5E7EB;
}

.hero {
    display: flex;
    margin-top: 8em;
    margin-bottom: 8em;
    padding: 8px;
}

.text {
    margin: 0px;
    margin-right: 2em;
    flex-direction: column;
    text-align: left;
    width: 480px;
    padding: 10px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero p {
    margin-top: 6px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero button {
    margin-top: 14px;
    width: 100px;
    padding: 6px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: unset;
    border-radius: 6px;
}

.hero .image {
    padding: 0;
    margin: 0;
}

.hero img {
    flex: 1 1 auto;
}

.section2 {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.section2-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-bottom: 100px;
}

.section2 .subtitle {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 26px;
    color: #1F2937;
    font-weight: 900;
}

.section2 .images {
    display: flex;
    gap: 50px;
}

.images .image {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 150px;
    gap: 10px;
}

.section2 img {
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.section3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.section3-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    width: 800px;
}

.quote-author {
    text-align: right;
    padding-right: 40px;
}

.section4 {
    display: flex;
    background-color: white;
    padding: 100px 0px;
}

.section4-content {
    display: flex;
    align-items: center;
    gap: 150px;
    margin: auto;
    background-color: #3882F6;
    padding: 40px 120px;
    border-radius: 8px;
    color: white;
}

.section4 button {
    background: none;
    border: 2px solid white;
    padding: 5px 20px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    height: fit-content;
}